#tenant-list
  #tenant-list-header.tenant-info TENANTS
  = link_to 'public', 'http://lvh.me:4000', :id => 'public-tenant', :class => 'tenant-info'
  - @tenants.each do |tenant|
    = link_to "#{tenant.subdomain}: #{tenant.name}", "http://#{tenant.subdomain}.lvh.me:4000", :class => 'tenant-info'

#current-tenant
  #current-tenant-header CURRENT TENANT
  #current-tenant-info= @tenant ? "#{@tenant.subdomain}: #{@tenant.name}" : 'public'

#tenant-food
  #tenant-food-header FOOD
  - if @tenant
    - @foods.each do |food|
      .food-info= "#{food.name}: #{food.price}"
  - else
    .food-info No menu available for public tenant. :(
